.docs__title {
  @include h2;
}

.docs__section-title {
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-weight: 700;
  font-size: 30px;
  line-height: 37px;
}

.docs__list {
  list-style: none;
}

.docs__item-link {
  @include link;
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}
