.header {
  padding: 80px 0 100px;

  background-image: url("../img/page-bg.jpg");
  background-image: image-set(
      url("../img/page-bg.jpg") 1x,
      url("../img/page-bg@2x.jpg") 2x
  );
  background-image: -webkit-image-set(
      url("../img/page-bg.jpg") 1x,
      url("../img/page-bg@2x.jpg") 2x
  );
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}

.header__logo-wrapper {
  text-align: start;
}

.header__nav {
  font-family: 'Noto Sans', 'Arial', sans-serif;
  text-align: center;
}

.header__nav-list {
  padding: 0 80px;
  margin-top: 9px;
  margin-bottom: 0;

  font-weight: 500;
  font-size: 18px;
  line-height: 25px;

  list-style: none;
}

.header__nav-item {
  max-width: 230px;
  margin-bottom: 25px;
}

.header__nav-link {
  @include link;

  &:focus,
  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.header__login-btn {
  display: block;
  width: 100px;
  padding: 13px 0;
  margin-top: 14px;

  color: #ffffff;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  text-decoration: none;

  background-color: #ec5550;
  border-radius: 3px;

  transition-property: background-color;
  transition-duration: 500ms;

  &:focus,
  &:hover {
    background-color: #F18C88;
  }

  &:active {
    background-color: #AB3E3A;
  }
}

.header__hero {
  margin-bottom: 233px;
}
