.main__docs {
  margin-bottom: 325px;
}

.main__ocean-now {
  margin-bottom: 375px;
}

.main__goals {
  margin-bottom: 452px;
}

.main__activity {
  margin-bottom: 417px;
}

.main__ocean-need {
  margin-bottom: 112px;
}
