.ocean-need__title {
  margin-top: 0;
  margin-bottom: 152px;

  font-family: 'Montserrat', 'Arial', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  text-transform: uppercase;
  text-align: center;
}

.ocean-need__list {
  position: relative;

  &:before {
    content: "";
    position: absolute;
    top: 107px;
    left: -137px;
    right: -137px;
    z-index: 2;

    height: 3279px;

    background-image: url("../img/steps-line.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.ocean-need__item {
  position: relative;
  z-index: 3;

  font-family: 'Noto Sans', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;

  &--1 {
    margin-bottom: 140px;
    padding-right: 10%;
  }

  &--2 {
    margin-bottom: 133px;
    padding-right: 1%;
  }

  &--3 {
    margin-bottom: 190px;
    padding-right: 10%;
  }

  &--4 {
    margin-bottom: 353px;
    padding-right: 1%;
  }

  &--5 {
    margin-bottom: 182px;
    padding-right: 2%;
  }

  &--6 {
    margin-bottom: 270px;
    padding-right: 4%;
  }

  &--7 {
    margin-bottom: 0;
    padding-right: 5%;
  }
}

.ocean-need__item-pic {
  position: relative;
  z-index: 1;

  &:after {
    content: "";
    position: absolute;
    z-index: 1;

    background-position: center;
    background-repeat: no-repeat;
  }

  &--1 {
    &:after {
      top: -127px;
      right: -64px;

      width: 790px;
      height: 572px;

      background-image: url("../img/steps1.png");
    }

    & .ocean-need__item-number {
      top: 78px;
      left: -75px;
    }
  }

  &--2 {
    &:after {
      top: -83px;
      left: -138px;

      width: 626px;
      height: 571px;

      background-image: url("../img/steps2.png");
    }

    & .ocean-need__item-number {
      top: 176px;
      right: 112px;
    }
  }

  &--3 {
    &:after {
      top: -117px;
      right: -7px;

      width: 750px;
      height: 571px;

      background-image: url("../img/steps3.png");
    }

    & .ocean-need__item-number {
      top: 119px;
      left: -195px;
    }
  }

  &--4 {
    &:after {
      top: -82px;
      left: -136px;

      width: 684px;
      height: 571px;

      background-image: url("../img/steps4.png");
    }

    & .ocean-need__item-number {
      top: 156px;
      right: 49px;
    }
  }

  &--5 {
    &:after {
      top: -79px;
      right: -69px;

      width: 750px;
      height: 571px;

      background-image: url("../img/steps5.png");
    }

    & .ocean-need__item-number {
      top: 150px;
      left: -63px;
    }
  }

  &--6 {
    &:after {
      top: -138px;
      left: -137px;

      width: 684px;
      height: 571px;

      background-image: url("../img/steps6.png");
    }

    & .ocean-need__item-number {
      top: 65px;
      right: 65px;
    }
  }

  &--7 {
    & .ocean-need__item-number {
      top: -7px;
      left: 204px;
    }
  }
}

.ocean-need__item-number {
  position: absolute;
  z-index: 2;

  font-family: 'Montserrat', 'Arial', sans-serif;
  font-style: italic;
  font-weight: 700;
  font-size: 98px;
  line-height: 119px;
  color: rgba(170, 191, 233, 0.36);
}

.ocean-need__item-title {
  display: block;
  margin-bottom: 28px;

  font-weight: 700;
  font-size: 40px;
  line-height: 54px;
}
