.ocean-need__title {
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 49px;
  text-transform: uppercase;
}

.ocean-need__list {
  list-style: none;
}

.ocean-need__item {
  font-family: 'Noto Sans', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
}

.ocean-need__item-title {
  font-weight: 700;
  font-size: 40px;
  line-height: 54px;
}
